.header__logo {
    width: 104px;
    padding-bottom: 31.6px;
    padding-left: 27px;
}

@media (min-width: 880px) {
    .header__logo {
        padding-left: 0;
    }
}

@media (min-width: 1280px) {
    .header__logo {
        width: 142px;
        height: 33px;
        padding: 0;
        margin-bottom: 41px;
    }
}
