.header {
    margin: 28px auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (min-width: 880px) {
    .header {
        padding-left: 0;
        margin: 45px auto;
        max-width: 880px;
    }
}

@media (min-width: 1280px) {
    .header {
        margin: 45px auto;
    }
}